@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-light: #22D3EE;
  --accent-dark: #0EA5E9;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.gradient-accent {
  background: linear-gradient(90deg, var(--accent-light), var(--accent-dark));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  @apply container mx-auto px-6 py-4 sm:pb-10 sm:px-8;
}

@media  screen and (max-width: 350px) {
  .nav-menu {
    @apply text-xs;
  } 
}

.container{
  max-width: 1000px;
}

/* Blog page body styling */

.post-body h1{
  @apply sm:text-4xl text-2xl font-bold py-6;
}
.post-body h2{
  @apply sm:text-2xl text-2xl font-bold py-4 mt-8;
}
.post-body h3{
  @apply sm:text-xl text-lg font-bold py-4;
}

.post-body img{
  @apply my-6;
}

.post-body p{
  @apply lg:text-xl sm:text-xl text-lg text-slate-300;
  line-height: 2rem;
}

.post-body hr {
  @apply my-6
}


/* Loading Page animation css */

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}